.apartment-container {
	position: relative;
	background-color: #000;
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 0;
		opacity: 0.5;
		background:url('../../../images/Rectangle\ 13.png') no-repeat;
		background-size: 100% 100%;
		min-height: 300px;
	}
}
.apartment {
	position: relative;
	width: 100%;
	min-height: 300px;
}
.apartment-content {
	h1 {
		text-align: center;
		color: #fff;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		padding-top: 8%;
	}
}
