.headerMain-container {
	position: relative;
	background-color: #000;
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.5;
		background:url('../../../images/Rectangle\ 13.png');
		background-size: cover;
		min-height: 100vh;
	}
}
.content {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.header-content {
	text-align: center;
	padding-top: 20%;
	h1 {
		color: #fff;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
	}
	input {
		width: 630px;
		height: 50px;
		border-radius: 15px;
		margin-right: 15px;
		margin-top: 15px;
		border: none;
		padding-left: 40px;
	}
	button {
		width: 160px;
		height: 45px;
		margin-top: -8px;
	}
}
