.login-section {
	border: 1px solid grey;
	padding: 35px;
}
.social-section {
	text-align: center;
	margin-top: 20px;
}
.google-facebook {
	width: 220px;
	height: 40px;
	border-radius: 20px;
}
.btn-modify {
	background: #275A53;
	color: #fff;
}
