.list-unstyle{
    list-style: none;
 
}

.list-unstyle li{
    font-size: 20px;
    margin-top: 25px;
}

.sidebar{
    margin: auto;
}
.liLink{
    text-decoration: none;
    color: rgb(15, 228, 129);
}
.sidebar li:hover span{
    display: inline-block;
    transform: translateX(3px);
}