.card-container{
    margin-bottom: 30px;
    background: #FDFDFD;
    padding: 20px;
}
.btn-cart{
    background: #275A53;
    color: #fff;
    padding: 7px 15px;
}
.card-container h5{
    font-size: 20px;
    margin-top: 25px;
}