.addRentBody-container{
    background:#E5E5E5;
    width: 950px;
    height:750px;
    padding-top: 50px;
}
.input{
    width: 80%;
    margin: auto;
}
.formDiv{
    border-radius: 20px;
    background-color: white;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}